body {
    background-color: rgb(138, 181, 238);
    color: rgb(10, 0, 0);
    font-family: "Josefin Sans", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:rgb(65, 90, 201);
    color: rgb(14, 10, 10);
    font-family: "Josefin Sans", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}